.DDown{
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    width: 250px;
    margin-top: 50px;
    margin-left: 10px;
    padding: 5px;
}

.DDown div{
    font-size: 20px;
    width: 100%;
}

.DDown div:hover{
    background-color: rgba(128, 128, 128, 0.555);
     width: 250px;
     cursor:pointer;
}

.labelT{
    color: rgba(128, 128, 128, 0.74);
    margin: 4px;
}