.inputF{
    width: 250px;
    height: 30px;
    margin: 10px;
    font-size: 15px;
    padding: 2px;
    border: 2px solid gray;
    border-radius: 4px;
}
.inputF:focus{
    outline: none;
    border: 2px solid blue
}