.Panel{
    z-index: 1;
    position: absolute;
    margin-top: -5px;
    border: 1px solid black;
    background-color: white;
}
.Panel div{
    width: 100px;
}
.Panel div:hover{
    background-color: rgba(128, 128, 128, 0.555);
}
select{
    height: 36px;
    width: 100px;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: white;
}
.inputD{
    height: 36px;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 4px;
}
.labelData{
    margin: 10px;
    font-size: 20px;
    color: rgb(71, 71, 71);
}
.heading{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}
button{
    height: 45px;
    width: 150px;
    background-color: rgb(255, 153, 0);
    color: white;
    font-weight: bold;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    margin: 10px;
}
button:hover{
    cursor: pointer;
}
button:focus{
    outline: none;
}